.education{
    padding-top: 3rem;
}

.education-title{
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

.education-container {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafdff;
    border: 1px solid #bee6f9;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-card h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.education-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}
