@media (max-width: 768px) {
    .education{
        padding: 1rem;
    }

    .education-card h3 {
        font-size: 18px;
    }

    .education-card p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .education-card {
        padding: 16px;
    }
    .education-title{
        padding-top: 3rem;
    }
    .education-card h3 {
        font-size: 16px;
    }

    .education-card p {
        font-size: 13px;
    }
}
