.education {
    padding-top: 3rem;
}

.education-title {
    font-size: 2.5rem;
    padding: 1.5rem 0;
}

.education-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.education-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafdff;
    border: 1px solid #bee6f9;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-card h3 {
    margin: 0;
    font-size: 20px;
    color: #333;
}

.education-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
}

@media (max-width: 768px) {
    .education{
        padding: 1rem;
    }

    .education-card h3 {
        font-size: 18px;
    }

    .education-card p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .education-card {
        padding: 16px;
    }
    .education-title{
        padding-top: 3rem;
    }
    .education-card h3 {
        font-size: 16px;
    }

    .education-card p {
        font-size: 13px;
    }
}
