.footer-hr{
    border: none;
    height: 2px;
    background-color: #bce6fb; 
    margin: 20px 0; 
    width: 100%; 
}

.footer{
    background-color: #f1f9fe;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-text{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 70%;
}

.footer-logo{
    transition: all 0.3s ease-in-out;
}

.footer-logo:hover{
    transform: scale(1.1);
}