.header-nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(241, 249, 254, 0.7);
    backdrop-filter: blur(10px);
    padding:  1rem 0;
    z-index: 1000;
}

.header-ul{
    cursor: pointer;
    color: #086a9c;
    display: flex;
    gap: 3rem;
    list-style: none;
    padding: 0 1.5rem;
}

.header-a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease-in-out;
}

.header-a:hover{
    color: #03324f;
}

@media (max-width: 768px) {
    .header-nav {
        font-size: 1rem;
        padding: 0.7rem 0.5rem;
    }

    .header-ul {
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .header-nav {
        font-size: 0.9rem;
        padding: 0.5rem 0.3rem;
    }

    .header-ul {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}