.home-page{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home-title{
    font-size: 4rem;
    font-weight: 600;
}

.home-text{
    font-size: 1.25rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: left;
    max-width: auto;
    line-height: 1.6;
    letter-spacing: 0.3px;
    word-spacing: 1px;
}

.ability{
    font-weight: bolder;
    color: #0b5981;
}

.home-logos{
    display: flex;
    gap: 1rem;
}

.logos-text{
    display: flex;
    gap: 7px;
    align-items: center;
    color: white;
    background-color: #0b5981;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.logo{
    width: 2rem;
}

.logos-text:hover{
    background: #083a5a;
}

@media only screen and (max-width: 768px) {
    .home-page{
        padding-top: 10rem;
    }
    .home-text, .home-title, .home-logos{
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .home-page{
        padding-top: 15rem;
    }
    .home-text, .home-title, .home-logos{
        padding: 1rem;
    }
}