.skills{
    padding-top: 3rem;
}
.skills-title{
    font-size: 2.5rem;
    padding: 1.5rem 0;
    scroll-margin-top: 100px;
}

.figures{
	width: auto;
    border: 1px solid #bee6f9;
    border-radius: 4px;
    background-color: #fafdff;
    padding: 1rem;
    height: auto;
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 2rem;
}

.figure-pos{
    transition: all 0.3s ease-in-out; 
}

figure{
	width: 100px;
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figcaption{
    font-weight: 550;
    font-size: 1.2rem;
    color: black;
}

.figure-logos {
	width: 100px;
	display: block;
}

.figure-pos:hover{
	transform: scale(1.1);
}

@media (max-width: 768px) {
    .skills{
        padding: 1rem;
    }

    .skills-title {
        padding-top: 3rem; /* Ajuste también para pantallas pequeñas */
    }
}